<?xml version="1.0" encoding="utf-8" ?>
<SolrConfig>
  <ConnectionString>Data Source=192.168.19.243;uid = bin; pwd =hi1718.com; Connect Timeout=120; database = hi1718</ConnectionString>
  <!--最后处理的id-->
  <LastSellId>0</LastSellId>
  <LastBestId>0</LastBestId>
  <LastBuyId>0</LastBuyId>
  <LastKeywordId>0</LastKeywordId>
  <LastMemberId>0</LastMemberId>
  <LastNewsId>0</LastNewsId>
  <LastLogId>0</LastLogId>
  <!--批处理个数-->
  <TopCount>5000</TopCount>
  <SleepTime>60000</SleepTime>
  <!--客户端请求超时时间，单位：毫秒-->
  <TimeOut>7200000</TimeOut>
  <!--银牌会员产品权重-->
  <SilverBoost>50</SilverBoost>
  <!--金牌会员产品权重-->
  <GoldBoost>150</GoldBoost>
  <!--Vip会员产品权重-->
  <VipBoost>300</VipBoost>
  <!--Solr实例-->
  <ProCore>http://192.168.19.241:8080/solr/product</ProCore>
  <MemberCore>http://192.168.19.241:8080/solr/member</MemberCore>
  <KeywordCore>http://192.168.19.241:8080/solr/keyword</KeywordCore>
  <BuyCore>http://192.168.19.241:8080/solr/buy</BuyCore>
  <NewsCore>http://192.168.19.241:8080/solr/news</NewsCore>
  <!--webservice验证key-->
  <VerifyKey></VerifyKey>
</SolrConfig>